body{
    background-color: rgb(151, 155, 158);
}
h2{
    font-size: 2rem;
    color: #17202A;
    text-align: center;
    padding: 2rem;
}

.yo{
    width: 20rem;
    height: auto;
    border-radius: 20% ;
}

.card{
    background-color: #17202A;
    color: aliceblue;
    animation: cambio-de-color 10s infinite;
    box-shadow: 0 0 20px #0000;
    transition: transform 0.3s;
}
 
.card:hover {
    transform: scale(1.1); /* El elemento se agrandará al pasar el cursor */
}

h3{
    font-size: 1.3rem;
    color: #17202A;
    text-align: center;
    padding: 1.3rem;
}